<table>
  <caption>
    загальні файли Angular
  </caption>

  <thead>
    <tr>
      <th>НАЗВА ФАЙЛІВ КОНФІГУРАЦІЇ</th>
      <th>ПРИЗНАЧЕННЯ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>src/</td>
      <td>Розположення файлів кореневого рівня для програми .</td>
    </tr>
    <tr>
      <td>.editorconfig</td>
      <td>Конфігурація для редакторів коду.</td>
    </tr>
    <tr>
      <td>.gitignore</td>
      <td>
        Визначення навмисно не відстежуємих файлів, які Git має ігнорувати
      </td>
    </tr>
    <tr>
      <td>angular.json</td>
      <td>
        Конфігурація CLI за замовчуванням для всіх проектів у робочій області...
      </td>
    </tr>
    <tr>
      <td>package-lock.json</td>
      <td>
        Надає інформацію про версії всіх інстальованих пакетів node_modules
      </td>
    </tr>
    <tr>
      <td>package.json</td>
      <td>
        Налаштування залежностей пакетів npm, які доступні для всіх проектів
      </td>
    </tr>
    <tr>
      <td>README.md</td>
      <td>Вступна документація для програми</td>
    </tr>

    <tr>
      <td>node_modules/</td>
      <td>Розположення пакетів npm для всього робочого простору.</td>
    </tr>
    <tr>
      <td>tsconfig.app.json</td>
      <td>
        Налаштування файлів конфігурації TypeScript. Файл, що відповідає за
        компіляцію TypeScript.
      </td>
    </tr>
    <tr>
      <td>tsconfig.json</td>
      <td>
        Набір правил конфігурації, або базова конфігурація TypeScript для
        проектів у робочій області.
      </td>
    </tr>
  </tbody>
  <tbody></tbody>
</table>
<table>
  <caption>
    файли папки src
  </caption>
  <thead>
    <tr>
      <th>НАЗВА ФАЙЛІВ КОНФІГУРАЦІЇ</th>
      <th>ПРИЗНАЧЕННЯ</th>
    </tr>
  </thead>
  <tr>
    <td>main.ts</td>
    <td>
      Відповідає за запуск усього додатка. Oсновна точка входу для вашої
      програми. Компілює програму за допомогою JIT-компілятора та завантажує
      кореневий модуль програми (AppModule) для запуску в браузері.
    </td>
  </tr>
  <tr>
    <td>index.html</td>
    <td>
      Це основна html-сторінка для нашого проєкту. Тут можна додати/змінити
      мета-теги title, description, змінити кодування документа, viewport тощо.
    </td>
  </tr>
  <tr>
    <td>main.ts</td>
    <td>
      сновна точка входу для вашої програми. Компілює програму за допомогою
      JIT-компілятора та завантажує кореневий модуль програми (AppModule) для
      запуску в браузері.
    </td>
  </tr>
  <tr>
    <td>app.routes.ts</td>
    <td>у майбутньому тут будуть зберігатися роути(url адреси) сторінкок</td>
  </tr>
  <tr>
    <td>app.config.ts</td>
    <td>
      Визначає логіку конфігурації програми, яка повідомляє Angular, як зібрати
      програму. Коли ви додаєте більше постачальників(провайдерів) до програми,
      їх потрібно декларувати тут.
    </td>
  </tr>
</table>
<p>усі інші файли із розширенням .spec для тестів</p>
